/* Stylesheet for D3-Lab by Bob Cowling, 2017 */

.addstates {
    stroke: #000;
    stroke-width: 0.5px;
    stroke-linecap: round;
}

.map {
    
    margin: 10px 0 0 20px;
}

.chart {
    float: right;
    margin: 7px 20px 0 0;
}

.infoBlock {
    fill: rgba(128,128,128,.2);
}


.chartTitle {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.infoWindow {
    font-family: sans-serif;
    font-size: 12;
    font-weight: bold;
    
}

.chartBackground {
    fill: rgba(128,128,128,.2);
}

.chartFrame {
    fill: none;
    stroke: #999;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.8em;
    fill: #999;
}

.dropdown {
    position: absolute;
    top: 100px;
    left: 430px;
    z-index: 10;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #999;
    
}

option {
    font-weight: normal;
}

.infolabel {
    position: absolute;
    height: 50px;
    min-width: 100px;
    color: #fff;
    background-color: #000;
    border: solid thin #fff;
    padding: 5px 10px;
}

.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
}

.infolabel {
    position: absolute;
    height: 50px;
    min-width: 100px;
    color: #fff;
    background-color: #000;
    border: solid thin #fff;
    padding: 5px 10px;
    top: -75px;
}

/* Legend Position Style */
.legend {
	position:absolute;
	left:800px;
	top:350px;
}

body {
    background-color: #2e1a13;
}

h1 {
    color: darkorange
}

.button rect {
  stroke: #999faa; /* navy 40% */
  stroke-width: 2px;
}

.button rect.pressed {
  fill: #000f2b; /* navy 100% */
}



.button text {
  font-size: 30px;
  fill: #eee;
  pointer-events: none;
  text-anchor: middle;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.infoBackground {
    margin-left: 100px;
    color:aqua;
}
